head {
    padding-left: 120px
}

.founderbody {
    background-image: url('../IMAGES/steps.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.eachfounder {
    background-color: black;
    border: 1px solid darkslategrey;
    opacity: 0.75;
}

.hogwartscontent {
    background-image: url('../IMAGES/hogs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: bisque;
}

.logo {
    position: sticky;
    top: 0;
    display: block;
    text-decoration: none;
}

.homeMain {
    margin: 30px;
    color: goldenrod;
    height: 100%;
    background-color: black;
    border: 1px solid darkslategrey;
    opacity: 0.75;
}

.discription {
    font-weight: bold;
    padding: 20px;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.founders {
    opacity: 0.95;
    padding-top: 90px;
    width: 40%;
    float: right
}

a {
    color: burlywood;
}

.hh1 {
    padding-left: 60px;
    padding-right: 60px;
    font-family: fantasy;
    font-size: 600%;
    font-weight: bolder;
}

.hh2 {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 220px;
    font-size: 450%;
}

h1 {
    padding-left: 60px;
    padding-right: 60px;
    color: peru;
    font-size: 55px;
}

h3 {
    padding-left: 60px;
    padding-right: 60px;
    color: goldenrod;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

p {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}