.main {
    background-image: linear-gradient(#000066, #009999, #ffffff);
    padding: 10px 10px;
}

.image {
    width: 10%;
    border: 3px dotted #FFFFFF;
    padding: 6px;
    margin-left: 57%;
    margin-bottom: 3%;
}

.aboutme {
    font-size: 15 px;
    padding-left: 30px;
    padding-top: 30px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    margin: 2%;
    text-align: center;
}

.request {
    margin-left: 80%;
}

th,
td {
    border: 1px solid black;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    font-family: fantasy;
}

.me {
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

p,
ul {
    margin-left: 7%;
}

h2 {
    font-size: 25px;
}