<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<script>  
function validateform(form){  
  var name = form.uname.value;
  var mail = form.email.value;
  var password = form.pwd.value; 
  var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/; 
    
  if (name==null || name=="" || email == null || email == ""){  
    alert("Name or email address can't be blank");  
    document.getElementById("msg").innerHTML = "Name or email address can't be blank";
    return false;  
  } else if (reg.test(mail) == false) {
    alert('Invalid Email Address');
    document.getElementById("msg").innerHTML = 'Invalid Email Address'
    return false;
  } else if(password.length<6){  
    alert("Password must be at least 6 characters long.");  
    document.getElementById("msg").innerHTML = "Password must be at least 6 characters long."
    return false;  
  }
  return true;
}  
</script> 
<body>
<div class="container">
  <h2>Registration form</h2>
  <form method = "POST" action = "/register" onsubmit="return validateform(this);">
    <div class="form-group">
      <label for="uname">User Name:</label>
      <input type="uname" class="form-control" id="uname" placeholder="Enter User name" name="uname">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
  <h4 id = "msg"></h4>
</div>

</body>
</html>